.card {
  font-family: arial;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: black;
  background-color: white;
}

.phrase-display {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
}