.idea/*
.vscode/*
Ecoregions2017/*
frontend/dist/*
frontend/node_modules/*
maps/*
src/maps/fabdem/*
src/maps/srtm_global/*
venv/*
*.egg-info/*
__pycache__/

*.pyc
*.pyo
*.zip

.env
geoguessr_cookie.txt